body {
  margin: 1% 30%;
}
p {
  font-family: Arial;
  line-height: 1.5em;
}
li {
  border-bottom: solid darkgray 1px;
  padding: 2% 0;
}
h3 {
  font-family: serif;
  letter-spacing: .2em;
}
ul {
  visibility: hidden;
}
ul div span {
  color: #af0101;
}
img {
  -webkit-animation: rotation 400ms linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#more {
  color: yellow;
  border-radius: 20px;
  zoom: 70%;
}
.more-about {
  font-size: 1em;
  font-style: italic;
  color: black;
  padding-right: 3%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@media only screen and (max-width: 480px) {
  body {
    margin: 1% 10%;
  }
}
